.App {
  text-align: center;
}

.navi a {
  margin-left: 50px;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
  font-weight: 500;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-weight: 700;
}

.btn-primary {
  width: 100px;
  color: azure;
}
